{% extends 'base.html.twig' %}



{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}

    {% if lastBorrow.boxTo %}
        {{ lastBorrow.boxTo.address }}
    {% else %}
        {{ lastBorrow.user.username }}
    {% endif %}

    <section class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('uploads/' ~ book.image) }}" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <h1>{{ book.title }}</h1>
                <div class="book-infos">
                    <span class="label label-info"><i class="fa fa-user"></i> {{ book.author.fullname }}</span>
                    {% for category in book.categories %}
                        <span class="label label-success"><i class="fa fa-tag"></i> {{ category.name }}</span>
                    {% endfor %}
                </div>
                <p>{{ book.synopsis }}</p>
            </div>
        </div>
    </section>

    <section class="container">
        <h3>DECOUVREZ D'AUTRES LIVRES</h3>
        {% for book in otherBooks %}
            <div class="col-md-4" style="height: 600px">
                <img src="{{ asset('uploads/' ~ book.image) }}" class="img-responsive img-thumbnail">
                <h3>{{ book.title }}</h3>
                <div class="book-infos" style="text-align: left">
                    <span class="label label-info"><i class="fa fa-user"></i> {{ book.firstname ~ ' ' ~ book.lastname }}</span>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}
